<div class="container">
	<%= form_tag("/selenium/run") do %>
		<div class="row form-group">
			<%= select_tag "browser", options_for_select([ "chrome", "firefox" ]), :class => "col form-control" %>
			<%= select_tag "environment", options_for_select([ "sand", "qa", "int", "prod"]), :class => "col form-control" %>
		</div>

		<% @specs.keys.each do |feature| %>
			<div class="feature">
				<div class="row">
					<h1><%= feature %></h1>
				</div>
				<% @specs[feature].keys.each do |spec| %>
					<div class="form-check">
						<label class="form-check-label">
							<%= check_box_tag 'specs[]', @specs[feature][spec]["command"], false, :class => "form-check-input" %>
							<%= spec %> - <%= @specs[feature][spec]["description"] %>
						</label>
					</div>
				<% end %>
			</div>
		<% end %>
		<%= submit_tag "Run", :class => "btn btn-primary"%>

	<% end %>    
</div>